GOOGLE_SECRET = YOUR_GOOGLE_SECRET
GOOGLE_ID = YOUR_GOOGLE_ID
NEXTAUTH_SECRET = YOUR_NEXTAUTH_SECRET
GITHUB_ID = YOUR_GITHUB_ID
GITHUB_SECRET = YOUR_GITHUB_SECRET
FACEBOOK_ID = YOUR_FACEBOOK_ID
FACEBOOK_SECRET = YOUR_FACEBOOK_SECRET
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME = YOUR_CLOUDINARY_CLOUD_NAME
NEXT_PUBLIC_CLOUDINARY_API_KEY = YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET = YOUR_CLOUDINARY_API_SECRET
MONGODB_URI = YOUR_MONGODB_URI